<!--/* 공통 500 HTML */-->
<!-- contents_wrap -->
<section class="contents_wrap">
    <div class="contents_inner">
        <div class="error_wrap">

            <div class="error_text_wrap">
                <p class="error_text_bold">이용에 불편을 드려 죄송합니다.</p>
                <p class="error_text">현재 서비스가 원활하지 않으니, 잠시 후 이용해주세요.</p>
            </div>
            <!-- btn_wrap -->
            <div class="btn_wrap">
                <button type="button" class="btn_lg btn_line_primary"><span class="text">교보문고 홈</span></button>
                <button type="button" class="btn_lg btn_primary"><span class="text">이전페이지</span></button>
            </div>
            <!-- //btn_wrap -->
        </div>
    </div>
</section>
<!-- // contents_wrap -->
