<!--/* 공통 BODY-HEADER-SERVICE HTML */-->
<div class="service_mall_wrap">
    <div class="service_mall_inner">
        <div class="service_mall_box">
            <ul class="service_mall_list">
                <li class="service_mall_item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="565" height="33" viewBox="0 0 565 33">
                        <g transform="translate(0 0)">
                            <a href="#" class="service_mall_link">
                                <use th:href="@{${cdnURI} + '/images/ink/img_service_mall_tab.svg#pathTab'}" fill="#2951cc" stroke="rgba(0,0,0,0)" />
                            </a>
                            <text x="64" y="15" text-anchor="middle" fill="#fff" font-size="14"
                                  pointer-events="none" dy=".5em"
                                  font-family="Roboto" font-weight="700">eBook</text>
                        </g>
                        <g transform="translate(87 0)">
                            <a href="#" class="service_mall_link">
                                <use th:href="@{${cdnURI} + '/images/ink/img_service_mall_tab.svg#pathTab'}" fill="#06BBC0" stroke="rgba(0,0,0,0)" />
                            </a>
                            <text x="64" y="13" text-anchor="middle" fill="#fff" font-size="15"
                                  pointer-events="none" dy=".5em"
                                  font-family="Roboto" font-weight="700">sam</text>
                        </g>
                        <g transform="translate(174 0)">
                            <a href="#" class="service_mall_link">
                                <use th:href="@{${cdnURI} + '/images/ink/img_service_mall_tab.svg#pathTab'}" fill="#8F603D" stroke="rgba(0,0,0,0)" />
                            </a>
                            <text x="64" y="15" text-anchor="middle" fill="#fff" font-size="13"
                                  pointer-events="none" dy=".5em"
                                  font-family="Noto Sans KR" font-weight="700">매장안내</text>
                        </g>
                        <g transform="translate(261 0)">
                            <a href="#" class="service_mall_link">
                                <use th:href="@{${cdnURI} + '/images/ink/img_service_mall_tab.svg#pathTab'}" fill="#E8422F" stroke="rgba(0,0,0,0)" />
                            </a>
                            <text x="64" y="15" text-anchor="middle" fill="#fff" font-size="13"
                                  pointer-events="none" dy=".5em"
                                  font-family="Noto Sans KR" font-weight="700">핫트랙스</text>
                        </g>
                        <g transform="translate(348 0)">
                            <a href="#" class="service_mall_link">
                                <use th:href="@{${cdnURI} + '/images/ink/img_service_mall_tab_link.svg#pathTabLink'}" />
                            </a>
                            <text x="64" y="15" text-anchor="middle" fill="#767676" font-size="13"
                                  pointer-events="none" dy=".5em"
                                  font-family="Noto Sans KR" font-weight="500">톡소다</text>
                        </g>
                        <g transform="translate(437 0)">
                            <a href="#" class="service_mall_link">
                                <use th:href="@{${cdnURI} + '/images/ink/img_service_mall_tab_link.svg#pathTabLink'}" />
                            </a>
                            <text x="64" y="15" text-anchor="middle" fill="#767676" font-size="13"
                                  pointer-events="none" dy=".5em"
                                  font-family="Noto Sans KR" font-weight="500">스토리</text>
                        </g>
                    </svg>
                </li>
                <li class="service_mall_item service_more">
                    <button type="button" class="btn_service_more"><span class="text">브랜드 더보기</span></button>
                    <ul class="service_more_list">
                        <li class="service_more_item"><a href="#" class="service_more_link">브랜드명</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="customer_service_box">
            <ul class="customer_service_list">
                <li class="customer_service_item"><a href="#" class="util_link">로그인</a></li>
                <li class="customer_service_item">
                    <button type="button" class="btn_member_benefit"><span class="text">회원혜택</span></button>
                    <ul class="member_benefit_list">
                        <li class="member_benefit_item"><a href="#" class="member_benefit_link">회원혜택</a></li>
                        <li class="member_benefit_item"><a href="#" class="member_benefit_link">교보북클럽</a></li>
                    </ul>
                </li>
                <li class="customer_service_item"><a href="#" class="util_link">고객센터</a></li>
            </ul>
        </div>
    </div>
</div>
