<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default-ink}">
	
	<th:block layout:fragment="local-style-block">
	  <!-- local style block :: override parent layout partial -->
    </th:block>
	
	<th:block layout:fragment="local-script-block">
	  <!-- local script block :: override parent layout partial -->
    </th:block>

    <th:block layout:fragment="local-content">
        <h1>TODO: mok version view</h1>
    </th:block>
    
</html>
