<!--/* 공통 HEAD 스크립트 */-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<!-- ↓↓↓ TODO: [BIZ_BLOCK] 분기 필요 ↓↓↓ -->
<meta name="Author" content="SEO 기획 정의 내용 반영" />
<meta name="keywords" content="SEO 기획 정의 내용 반영"/>
<meta name="description" content="SEO 기획 정의 내용 반영" />
<meta name="subject" content="SEO 기획 정의 내용 반영" />

<!-- DESC : 성인컨텐츠인 경우 추가하는 meta tag -->
<!--<meta name="rating" content="adult" />-->

<!--/*
<meta property="og:title" content="The Rock" />
<meta property="og:type" content="video.movie" />
<meta property="og:url" content="https://www.imdb.com/title/tt0117500/" />
<meta property="og:description" content="The Rock: Directed by Michael Bay. With Sean Connery, Nicolas Cage, Ed Harris, John Spencer. A mild-mannered chemist and an ex-con must lead the counterstrike when a rogue group of military men, led by a renegade general, threaten a nerve gas attack from Alcatraz against San Francisco." />
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="ko_KR" />
<meta property="og:site_name" content="IMDb" />
<meta property="og:image" content="http://m.media-amazon.com/images/M/MV5BZDJjOTE0N2EtMmRlZS00NzU0LWE0ZWQtM2Q3MWMxNjcwZjBhXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_FMjpg_UX1000_.jpg" />
<meta property="og:image:secure_url" content="https://m.media-amazon.com/images/M/MV5BZDJjOTE0N2EtMmRlZS00NzU0LWE0ZWQtM2Q3MWMxNjcwZjBhXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_FMjpg_UX1000_.jpg" />
<meta property="og:image:width" content="1000" />
<meta property="og:image:height" content="1480.7502467917077" />
*/-->
