<!--/* ui_ink.js/shsShareToggle */-->
<div class="sns_share_wrap">
    <button type="button" class="btn_share">
        <span class="ico_share"></span><span class="hidden">공유하기</span>
    </button>
    <div class="sns_share_box">
        <a href="#" class="btn_sns_share kakao"><span class="hidden">카카오톡 공유하기</span></a>
        <a href="#" class="btn_sns_share band"><span class="hidden">밴드 공유하기</span></a>
        <a href="#" class="btn_sns_share facebook"><span class="hidden">페이스북 공유하기</span></a>
        <a href="#" class="btn_sns_share twitter"><span class="hidden">트위트 공유하기</span></a>
        <a href="#" class="btn_sns_share url_copy"><span class="hidden">url 복사하기</span></a>
        <button class="btn_sns_share_close" type="button">
            <i class="ico_share_close"></i><span class="hidden">닫기</span>
        </button>
    </div>
</div>
