<th:block th:fragment="default">
    <div class="prod_detail_type_area">
        <!-- 상품 유형 버튼 case 2 : 유형 2개 이상 -->
        <div class="prod_type_list_wrap">
            <!-- DESC : 활성화된 타입의 [.prod_type_item]에 [.active] 클래스 추가 -->
            <!-- prod_type_list -->
            <ul class="prod_type_list">
                <li class="prod_type_item active">
                    <a href="#" class="btn_prod_type">
                        <span class="prod_type">종이책</span>
                        <span class="prod_price">12,600원</span>
                    </a>
                </li>
                <li class="prod_type_item">
                    <a href="#" class="btn_prod_type">
                        <span class="prod_type">원서/번역서</span>
                        <span class="prod_price">9,300원</span>
                    </a>
                </li>
                <li class="prod_type_item">
                    <a href="#" class="btn_prod_type">
                        <span class="prod_type">eBook</span>
                        <span class="prod_price">9,600원</span>
                    </a>
                </li>
                <li class="prod_type_item">
                    <a href="#" class="btn_prod_type">
                        <span class="prod_type">오디오북</span>
                        <span class="prod_price">12,600원</span>
                    </a>
                </li>
                <li class="prod_type_item">
                    <a href="#" class="btn_prod_type">
                        <span class="prod_type">sam</span>
                        <span class="prod_price">9,000원</span>
                    </a>
                </li>
            </ul>
            <!-- //prod_type_list -->
        </div>
        <!-- 상품 유형 버튼 case 2 : 유형 2개 이상 -->
    </div>

</th:block>
