<!--/* 공통 BODY-BREADCUMB HTML */-->
<!-- breadcrumb_wrap -->
<section class="breadcrumb_wrap">
    <div class="breadcrumb_inner">
        <ol class="breadcrumb_list">
            <li class="breadcrumb_item"><a href="#" class="home_link">HOME</a></li>
            <li class="breadcrumb_item">
                <a href="#" class="btn_sub_depth">국내도서</a>
                <!-- DESC : 서브메뉴 갯수에 따라 col이 나눠지는 경우, div.sub_depth_box 영역에 multiclass 부여 필요
                     1단 : default(multi class 없음) / 2단 : col2 / 3단 : col3
                 -->
                <div class="sub_depth_grid">
                    <!-- repeat(li.depth_item 최대 10개) -->
                    <div class="sub_depth_box">
                        <ul class="sub_depth_list">
                            <!-- DESC : 활성화된 depth active class 추가 -->
                            <li class="depth_item active"><a href="#" class="depth_link">교보북클럽</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">등급별 회원혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">신규회원 혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">제휴포인트/상품권</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">참좋은교보문고</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">Prestige Lounge</a></li>
                        </ul>
                    </div>
                    <!-- // repeat -->
                </div>
            </li>
            <li class="breadcrumb_item">
                <a href="#" class="btn_sub_depth">소설</a>
                <!-- DESC : 서브메뉴 갯수에 따라 col이 나눠지는 경우, div.sub_depth_box 영역에 multiclass 부여 필요
                     1단 : default(multi class 없음) / 2단 : col2 / 3단 : col3
                 -->
                <div class="sub_depth_grid col2">
                    <!-- repeat(li.depth_item 최대 10개) -->
                    <div class="sub_depth_box">
                        <ul class="sub_depth_list">
                            <!-- DESC : 활성화된 depth active class 추가 -->
                            <li class="depth_item active"><a href="#" class="depth_link">교보북클럽</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">등급별 회원혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">신규회원 혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">제휴포인트/상품권</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">참좋은교보문고</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">Prestige Lounge</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">신규회원 혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">제휴포인트/상품권</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">참좋은교보문고</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">Prestige Lounge</a></li>
                        </ul>
                    </div>
                    <!-- // repeat -->
                    <!-- repeat(li.depth_item 최대 10개) -->
                    <div class="sub_depth_box">
                        <ul class="sub_depth_list">
                            <!-- DESC : 활성화된 depth active class 추가 -->
                            <li class="depth_item"><a href="#" class="depth_link">교보북클럽</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">등급별 회원혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">신규회원 혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">제휴포인트/상품권</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">참좋은교보문고</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">Prestige Lounge</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">신규회원 혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">제휴포인트/상품권</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">참좋은교보문고</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">Prestige Lounge</a></li>
                        </ul>
                    </div>
                    <!-- // repeat -->
                </div>
            </li>
            <li class="breadcrumb_item">
                <a href="#" class="btn_sub_depth">한국소설</a>
                <!-- DESC : 서브메뉴 갯수에 따라 col이 나눠지는 경우, div.sub_depth_box 영역에 multiclass 부여 필요
                     1단 : default(multi class 없음) / 2단 : col2 / 3단 : col3
                 -->
                <div class="sub_depth_grid col3">
                    <!-- repeat(li.depth_item 최대 10개) -->
                    <div class="sub_depth_box">
                        <ul class="sub_depth_list">
                            <!-- DESC : 활성화된 depth active class 추가 -->
                            <li class="depth_item"><a href="#" class="depth_link">교보북클럽</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">등급별 회원혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">신규회원 혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">제휴포인트/상품권</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">참좋은교보문고</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">Prestige Lounge</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">신규회원 혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">제휴포인트/상품권</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">참좋은교보문고</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">Prestige Lounge</a></li>
                        </ul>
                    </div>
                    <!-- // repeat -->
                    <!-- repeat(li.depth_item 최대 10개) -->
                    <div class="sub_depth_box">
                        <ul class="sub_depth_list">
                            <!-- DESC : 활성화된 depth active class 추가 -->
                            <li class="depth_item active"><a href="#" class="depth_link">교보북클럽</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">등급별 회원혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">신규회원 혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">제휴포인트/상품권</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">참좋은교보문고</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">Prestige Lounge</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">신규회원 혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">제휴포인트/상품권</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">참좋은교보문고</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">Prestige Lounge</a></li>
                        </ul>
                    </div>
                    <!-- // repeat -->
                    <!-- repeat(li.depth_item 최대 10개) -->
                    <div class="sub_depth_box">
                        <ul class="sub_depth_list">
                            <!-- DESC : 활성화된 depth active class 추가 -->
                            <li class="depth_item"><a href="#" class="depth_link">교보북클럽</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">등급별 회원혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">신규회원 혜택</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">제휴포인트/상품권</a></li>
                            <li class="depth_item"><a href="#" class="depth_link">참좋은교보문고</a></li>
                        </ul>
                    </div>
                    <!-- // repeat -->
                </div>
            </li>
        </ol>
    </div>
</section>
<!-- // breadcrumb_wrap -->
